body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*HEADER*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-list,
.header-address {
  display: none;
}

.symbol-defs-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.symbol-defs-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .symbol-defs-btn {
    display: none;
  }

  .header-list {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-data {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-data:hover,
  .header-address-data:focus {
    color: #404bbf;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover {
    color: #404bbf;
  }

  .header-link:focus {
    color: #404bbf;
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-address-data {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*mobile menu*/

.mibile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mibile-menu {
    display: none;
  }
}

/*SECTION ONE*/

.section-one {
  width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-images/hero-mobile-1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-images/hero-mobile-2x-min.jpg);
  }
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 216px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-images/hero-tab-1x-min.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-images/hero-tab-2x-min.jpg);
    }
  }
}

.name {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
  max-width: 496px;
}

@media screen and (min-width: 1158px) {
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-images/hero-1x-min.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-images/hero-2x-min.jpg);
    }
  }
}

.name {
  margin-bottom: 48px;
}

/*SECTION TWO*/

.section-two {
  flex-direction: column;
}

.container-advanced {
  padding-top: 96px;
  padding-bottom: 96px;
  width: 320px;
  margin: 0 auto;
}

.advanced {
  text-align: center;
  text-transform: capitalize;
}

.advanced-list {
  justify-content: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.icon {
  display: none;
}

.advanced-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advanced-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .container-advanced {
    width: 768px;
  }

  .advanced-list {
    gap: 72px 24px;
  }

  .advanced-link {
    width: calc((100% - 72px) / 2);
    padding-right: 0;
    width: 356px;
  }

  .advanced-name {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .container-advanced {
    width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advanced-list {
    justify-content: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }

  .advanced-link {
    width: calc((100% - 72px) / 4);
  }

  .icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    background-color: #f4f4fd;
    border-color: #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advanced-icon {
    fill: #2e2f42;
  }

  .advanced-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advanced-text {
    font-weight: 400;
  }
}
